body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #14213D;
  }
  
  /* INICIO */
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 1.3em 5em;
    background-color: #fff;
    box-shadow: 0 3px 0 #FCA311;
  }
  #logo{
    width: 3.4375rem;
    min-height: 100%;
  }
.img_logo{
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #acess{
    width: 9.375rem;
    height: 3.125rem;
    display: flex;
    justify-content: space-evenly;
  }
  .user-icon{
    margin: 5.5% 0 auto;
    width: 32px;
    height: min-content;
    font-size: 24px;
    color: #000000;
    padding: 5px;
  }
  #acess p{
    margin: auto 0;
    text-align: center;
    font-size: 29px;
  }
  
  /* MENU */
  #space{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1.5% 4%;
  }
  
  #menu{
    border-radius: 0.2em;
    background-color: #fff;
    width: 22%;
    height: 78vh;
    margin-right: 1%;
    box-shadow:3px 0 0  #FCA311;
  }
  #menu-list{
    list-style: none;
  }
  #menu-list li {
    background-color: #A3B6E1;
    width: 80%;
    height: fit-content;
    margin: 7% auto;
    padding: 0.7em 0.9em;
    border-radius: 10px;
    list-style: none;
    transition: all 0.2s ease;
  }
  /* quando estiver na página em questão do menu */
  #menu-list li.active {
    background-color: #32539ad7;
  }
  
  #menu-list li:hover {
    background-color: #14213D;
    color: #fff;
    box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);

    .icon{
      color: #fff;
    }
  }
  
  
   #menu-list a {
    color: #000000;
    font-size: medium;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    transition: color 0.3s;
  }
  
  .icon{
    width: min-content;
    height: fit-content;
    font-size: 24px;
    color: #000000;
    padding: 5px;
    margin-right: 20%;
    text-align: center;
    display: inline-block;
    transition: color 0.3s;
  }
    
  
  #menu-list hr{
    width: 90%;
    margin: 2px auto;
  }
  .menu_topic{
    margin-top: 25%;
    margin-bottom: 3%;
  }

  /* CONTEÚDO DA PG */
  #content{
    border-radius: 0.2em;
    background-color: #fff;
    width: 76%;
    height: 78vh;
    padding: 1em;
    box-shadow:3px 0 0  #FCA311;
  }
  
  #apresen{
    display: flex;
    width: 98%;
    padding: 2%;
    margin: 1%;
  }
  #apresen h1{
    font-size: xx-large;
    font-weight: 700;
  }

  #table{
    margin: 0 auto;
    background-color:#DBD5D5;
    width: 98%;
    height: 70%;
    overflow: auto;
    padding: 0.001em 0.01em;
    border-radius: 10px;
  }

  /* Estilização da barra de rolagem */
  #table, .help-slide {
  scrollbar-width: thin;
  scrollbar-color: #32539A #e5e9eb;
  }

  #table::-webkit-scrollbar, .help-slide::-webkit-scrollbar {
    width: 5px;
  }

  #table::-webkit-scrollbar-thumb, .help-slide::-webkit-scrollbar-thumb {
    background-color: #32539A;
    border-radius: 5px;
  }

  #table::-webkit-scrollbar-track, .help-slide::-webkit-scrollbar-track {
    background-color: #e5e9eb;
  }
  
  /* RODAPÉ */
  #backRod{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 1em 5em;
    margin-top: auto;
    background-color: #fff;
    box-shadow: 0 0 0 3px #FCA311;
  }
  #backRod h3{
    font-size: large;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
  }

.quadro {
  background: lightgray;
  width: 35%;
  height: 25vh;
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 5rem;
  /*position: fixed;*/
  /* top: 153px; */
  /* left: 428px; */
  
}
.quadro2 {
  background: lightgray;
  width: 35%;
  height: 25vh;
  border-radius: 10px;
  margin-top: -17.6rem;
  margin-left: 700px;
  
}
.quadro3 {
  background:lightgray;
  width: 35%;
  height: 25vh;
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 5rem;
  /* position: fixed; */
  /* top: 533px; */
  /* right: 105px; */
   
}
.quadro4  {
  background: lightgray;
  width: 35%;
  height: 25vh;
  border-radius: 10px;
  margin-top: -17.6rem;
  margin-left: 700px;
  
  /* position: fixed; */
  /* top: 380px; */
  /* right: 915px; */
}
canvas {
  width: 100%;
  height: 35vh;
  border-radius: 10px;
  margin-top: 3.125rem;
  margin-left: 0.9375rem;
  /*position: fixed;*/
  /* top: 153px; */
  /* left: 428px; */
 
}

  @media screen and (max-width: 1440px){
    #backRod h3{
        font-size: medium;
      }
  }
  
  @media screen and (max-width: 1200px){
    header{
        padding: 1em 4em;
    }
    #acess{
        width: 8.75rem;
        height: 2.5rem;
    }
    .user-icon{
        margin: 2.5% 0 auto;
        width: 1.5rem;
        font-size: 1.25rem;
    }
      
    /* MENU */
    #space{
        margin: 1.5% 4%;
    }
      
      #menu{
        height: 78vh;
        margin-right: 1.3%;
      }

      #menu-list li {
        margin: 10% auto;
        padding: 0.5em 0.8em;
      }
      
       #menu-list a {
        font-size: small;
      }
      
      .icon{
        font-size: 16px;
        padding: 3px;
        margin-right: 18%;
      }
      
      .menu_topic{
        margin-top: 80%;
      }
    
      /* CONTEÚDO DA PG */
      #content{
        width: 78%;
        height: 78vh;
        padding: 1.2em;
      }
      
      #apresen{
        margin: 1.5%;
      }
      #apresen h1{
        font-size: x-large;
      }
    
      #table{
        height: 80%;
      }
      
      /* RODAPÉ */
      #backRod{
        padding: 0.9em 4em;
      }
      #backRod h3{
        font-size: small;
      }
  }
  @media screen and (max-width: 768px){
  /* INICIO */
  header{
    padding: auto 3.3em;
  }
  #logo{
    width: 3.437rem;
  }
  #acess{
    width: 130px;
    height: 50px;
  }
  .user-icon{
    margin: 6.5% 0 auto;
    width: 1.5rem;
    font-size: 1.25rem;
  }
  #acess p{
    margin: auto 0;
    font-size: medium;
  }
  
  /* MENU */
  #space{
    margin: 2.5% 1%;
  }
  #menu{
    height: 76vh;
    margin-right: 2%;
  }
  #menu-list li {
    margin: 8% auto;
    padding: 0.7em 0.9em;
  }
  
   #menu-list a {
    font-size: small;
  }
  
  .icon{
    font-size: 16px;
    padding: 0;
    margin-right: 5%;
  }
  
  #menu-list hr{
    width: 90%;
    margin: 2px auto;
  }
  .menu_topic{
    margin-top: 50%;
    margin-bottom: 3%;
  }

  /* CONTEÚDO DA PG */
  #content{
    height: 76vh;
  }
  
  #apresen{
    margin: 1.5% 1%;
  }
  #apresen h1{
    font-size: x-large;
  }

  #table{
    height: 80%;
  }
  
  /* RODAPÉ */
  #backRod{
    padding: auto 4em;
  }
  #backRod h3{
    font-size: x-small;
  }
  }
  
  @media screen and (max-width: 425px) {
    body{
      display: block;
      flex-direction: none;
    }
    /* INICIO */
    header{
      padding: 0.5em 2em;
    }
    #logo{
      width: 2.8125rem;
    }
    #acess{
      width: 120px;
      height: 40px;
    }
    .user-icon{
      margin: 5% 0 auto;
      width: 20px;
      font-size: 18px;
    }
    #acess p{
      font-size: small;
    }
    
    /* Desisti da parte dos sections(07/09/23) */
    
    /* RODAPÉ */
    #backRod{ 
      padding: auto 1em;
    }
    #backRod h3{
      font-size: xx-small;
      letter-spacing: 0.1em;
    }
    
  }